body
{
	font-size: 100%;
}
#page
{
	position: relative;
}
#quote_div
{
	position: absolute;
	top: 50px;
	left: 50%;
	padding: 25px;
	transform: translate(-50%, 0%);
	display: none;
}
#quote_text
{
	text-align: center;
	font-size: 2.3em;
}
#quote_author
{
	text-align: right;
	font-size: 1.8em;
}
#quote_button,
#quote_loading
{
	position: relative;
	float: right;
	font-size: 1.8em;
	padding: 5px;
}
#quote_loading
{
	display: none;
}
#tweet_button
{
	position: relative;
	float: left;
	font-size: 1.8em;
	padding: 5px;
}
#credits
{
	position: absolute;
	top: 100%;
	left: 50%;
	width: 100%;
	font-size: 1.3em;
	background-color: white;
	transform: translate(-50%, 0%);
	text-align: center;
}
h1
{
	text-align: center;
}
